@import '_reset';

html {
  font-size: $font-base;
}

body {
  font-family: $font, sans-serif;
  font-weight: 400;
  background: #fff;
}

main {
  overflow: hidden;
  position: relative;
}

.wrap {
  margin: 0 auto;
  width: $pageWidth;
  max-width: 94%;
  position: relative;
}


header {
  #menu-menu {}
}

.slider {
  float: left;
  width: 100%;
}


.content {

}


footer {

}


.button {
  &:hover {
  }
}



@media screen and (min-width: 1025px) {
  #mainMenu {
    margin-left: 160px;
    > ul {
      font-size: 0;
      @include flexbox;
      @include justify-content(space-between);
      > li {
        position: relative;
        > a {
          font-size: rem(16);
          display: block;
          text-transform: uppercase;
          line-height: 100px;
          color: #000;
          font-weight: 700;
          padding: 0 20px;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 7px;
          background: #ef3910;
          visibility: hidden;
          opacity: 0;
          @include transition();
        }
        &:hover, &.current-menu-item {
          &:after {
            visibility: visible;
            opacity: 1;
          }
          a {
            text-decoration: none;
          }
        }
        &.current-menu-item {
          background: #f8f8f8;
          @include box-shadow(inset 0px 0px 50px 20px rgba(231,231,231,1));
        }
        &.menu-item-has-children a {
          &:after {
            display: inline-block;
          }
        }
        &:hover > ul {
          margin-top: 0;
          opacity: 1;
          visibility: visible;
          z-index: 50;
        }
        ul {
          margin-top: 20px;
          opacity: 0;
          visibility: hidden;
          width: 230px;
          position: absolute;
          left: 0px;
          top: 100%;
          background: rgba(215, 215, 215, 0.80);
          font-size: 14px;
          @include transition();
          li {
            position: relative;
            a {
              display: block;
              padding: 5px 16px;
              color: $color;
              text-decoration: none;
            }
            &:hover, &.current-menu-item {
              > a {
                color: #303030;
              }
            }
            &:hover ul {
              visibility: visible;
              opacity: 1;
              margin-top: 0;
            }
            ul {
              left: 230px;
              top: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  #mainMenu {
    position: fixed;
    top: 0;
    width: 100%;
    @include transform(translateX(100%));
    @include transition();
    background: rgb(26, 26, 26);
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 999;
    margin-top: 90px;
    padding-bottom: 20px;
    &.active {
      @include transform(translateX(0));
    }
    ul {
      li {
        display: inline-block;
        width: 100%;
        margin: 0;
        a {
          margin: 0;
          color: #fff;
          font-size: 18px;
          padding: 15px 3%;
          border-bottom: 1px solid #000;
          position: relative;
          display: block;
          text-decoration: none;
          &:after {
            display: none;
          }
        }
        &:hover > a {
          background: none;
          color: #fff;
        }
        &.menu-item-has-children > a {
          &:after {
            display: none;
          }
        }
        span {
          width: 60px;
          background: #f6542f;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          cursor: pointer;
          &:before {
            content: "";
            @include center();
            background: #fff;
            width: 18px;
            height: 2px;
            @include transition();
          }
          &:after {
            content: "";
            @include center();
            background: #fff;
            width: 2px;
            height: 18px;
            @include transition();
          }
          &.active {
            &:after {
              opacity: 0;
            }
          }
        }
        ul {
          margin-top: 0;
          opacity: 1;
          visibility: visible;
          width: 100%;
          position: static;
          background: none;
          display: none;
          @include transition(none);
          li {
            display: inline-block;
            float: none;
            width: 100%;
            padding-bottom: 0;
            a {
              margin: 0;
              color: #fff;
              font-size: 18px;
              padding: 10px 3%;
              border-bottom: 1px solid #000;
              position: relative;
              text-decoration: none;
            }
            span {
              background: none;
            }
            &:hover a {
              background: none;
              color: #fff;
            }
            &.current-menu-item a {
              background: #f6542f;
              color: #fff;
            }
            ul {
              li {
                a {
                  font-size: 16px;
                  font-style: italic;
                }
              }
            }
          }
        }
      }
    }
  }
}




@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}




@media screen and (max-width: 480px) {}
