@import "variables"

#courses-list
	position: relative
	padding: 0
	margin: 0
	.modal-view
		margin-top: 0
	.cr-section__header-top
		width: 100%
		@include media(mobile)
			font-size: 18px
			width: 100%
			letter-spacing: 1.8px
	.cr-modal-header-row
		.cr-modal-header
			.no-paddings
				@include media(to_tablet)
					padding: 0 15px
		.cr-type-select
			color: $white
			margin: 50px -16px 0 0
			font-family: 'Proxima Regular'
			border: 2px solid $white
			@include media(mobile)
				margin: 20px 0 20px
	.courses-list-page
		background-color: $white
		padding: 10px 15px 40px
		min-height: 100vh
		@include media(mobile)
			margin: 0 0px
	.cta.filter
		padding-bottom: 20px
		border-bottom: 1px solid $silver
		margin-bottom: 10px
		margin-top: 12px
		h2
    	margin: 0
    	font-size: 14px
	.cta
		a
			transition: 0.1s
			padding: 8px 14px
			color: $light_gray
			border: 2px solid $light_gray
			margin-right: 20px
			letter-spacing: 1.6px
			display: inline-block
			font-family: $bold
			@include media(to_tablet)
				margin-right: 10px
				margin-bottom: 10px
			@include media(mobile)
				&:first-child
					position: relative
					top: 0
					text-align: center
					width: 100%
			&:hover
				color: $white
				border: 2px solid $dark
				background-color: $dark
			&:hover h2
				color: $white
		.active
			color: $white
			border: 2px solid $dark
			background-color: $dark
		.active  h2
				color: $white
	.box
		margin-top: 35px
		@include media(to_tablet)
			margin-bottom: 40px
		@include media(mobile)
			margin-bottom: 10px
		.cr-button
			top: 0
		&.intensivi
			.course-level-normal
				background-color: yellow
				color: $black
				border: 0px solid white
	.cr-collection
		border-bottom: 5px solid $mint
		.course-level-normal
			background-color: $mint
			color: $white
	.course-level-normal-signature
		background-color: $mint
		color: $white
	.course-level-normal
		background-color: $white
		border: 1px solid $mint
		color: $mint
	.course-level-intensive
		background-color: $yellow
		color: $black
		border: 0px solid white
	.course-level
		padding: 2px 6px
	.signature-container
		font-family: $regular
		font-size: 16px
		margin-bottom: 20px
		p
			display: inline
			margin-right: 20px
			@include media(mobile)
				display: block
	.mode-button
		&:before
			position: absolute
			top: -32px
			font-size: 14px
			background-color: $white
			color: $black
			font-family: $semibold
			padding: 4px 15px
			right: -2px
			letter-spacing: 1.6px
			border: 2px solid $black
			@include media(mobile)
				top: 0
				padding: 5px 10px
				margin: 10px
	.mode-sale
		&:before
			content: "SALE"
	.mode-new
		&:before
			content: "NEW"
	.mode-best-prise
		&:before
			content: "BEST PRISE"
	.cr-courses__chose-level
		@include media(mobile)
			position: absolute
			right: 0
			top: 0
			padding: 5px 10px
			margin: 10px

	.t-bold
		margin: 60px 0 40px
		text-align: left
		display: block
		@include media(mobile)
			margin: 40px 0 0
h3.boxes-title
	background-color: #eaeaea
	padding: 8px 10px
  text-transform: uppercase
  letter-spacing: 1px
	@include media(mobile)
		margin: 10px 0 0px
h3#intensivi
	background-color: $yellow
#courses-list-container
	.color-container
		@include media(mobile)
			margin-bottom: 30px
	.box
		min-height: 320px
		margin-bottom: 20px
		@include media(to_tablet)
			min-height: 350px
		@include media(mobile)
			min-height: initial
			margin-bottom: 0
		.cr-courses__item
			.cr-button
				background-color: $white
				&:hover
					background-color: $black
			@include media(tablet)
				width: 100%
				height: inherit
				margin-bottom: 10px
				.cr-courses__title
					margin: 20px 0 20px
					letter-spacing: 0px
				.cr-button
					opacity: 1
					letter-spacing: 0
			@include media(mobile)
				margin-left: 0
				height: initial
				width: 100%
				padding: 20px 10px
				margin: 0
				.cr-button
					opacity: 1
					display: block
					width: 200px
					margin: 0 auto
.level-list-container
	.level-list-ul
		list-style-type: none
		margin-left: 0
		padding-left: 0
		li.cat-selector
			float: left
			margin: 10px 20px 20px 0
			font-size: 20px
			@include media(mobile)
				float: none
				margin: 0px 0px 15px 0
			a
				color: grey
				padding: 10px 0px
				transition: 0.1s
				@include media(mobile)
					padding: 0
				&.active
					font-family: 'Proxima Bold'
					border-bottom: 2px solid $white
					@include media(mobile)
						display: block
						border-bottom: 0px solid $white
						border-right: 8px solid $white
				&.active,
				&:hover
					color: white

@keyframes appear-view
  from {opacity: 0;}
  to {opacity: 1;}
